# URL du backend Flask pour le frontend React
# - En mode tunnel Ngrok : VITE_API_URL=https://iola-subfalciform-thinly.ngrok-free.dev
# - Sur le même réseau Wi-Fi : VITE_API_URL=http://192.168.0.182:5000
# - Via le proxy local (vide) : VITE_API_URL=
VITE_API_URL=https://iola-subfalciform-thinly.ngrok-free.dev
